{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static  'css/photo.css' %}">
</head>
<body><br><br>
  <center><h1>Meet Our Team And Book Your Appoinment Now</h1></center><br><br>
  <div class="column">
      <div class="card">
        <img src="{% static 'img/1tech.png' %}" alt="Mike" style="width:54.30%" height="230px">
        <div class="container">
          <h2>Kaushan Pandya</h2>
          <p class="title">Camera_Man</p>
          <p>Kaushal Panya Is a Master In Camera Service In Urban Clap.</p>
          <p>smitsp2107@gmail.com</p>
          <p><button class="button">SEND REQUEST</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="{% static 'img/2tech.jpg' %}" alt="Mike" style="width:98%" height="230px">
        <div class="container">
          <h2>Vasant Chaudhary</h2>
          <p class="title">Genaral_Technician</p>
          <p>Vasant Chaudhary Is a Master In Techmnical Service In Urban Clap.</p>
          <p>example@example.com</p>
          <p><button class="button">SEND REQUEST</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="{% static 'img/3tech.jpg' %}" alt="Mike" style="width:80%" height="230px" >
        <div class="container">
          <h2>Narshiram</h2>
          <p class="title">LAN_Technician</p>
          <p>Narashiram Is a Master In LAN_Technician In Urban Clap.</p>
          <p>example@example.com</p>
          <p><button class="button">SEND REQUEST</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="{% static 'img/4tech.jpg' %}" alt="John" style="width:83%" height="230px">
        <div class="container">
          <h2>Kanusing Limabachiya</h2>
          <p class="title">Hair_Treatment</p>
          <p>Kanusing_Limabachiya Is a Master In Hair_Treatment Service In Urban Clap.</p>
          <p>example@example.com</p>
          <p><button class="button">SEND REQUEST</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="{% static 'img/5 tech.jpg' %}" alt="Mike" style="width:95%" height="230px">
      <div class="container">
        <h2>Jiya Chaudhary</h2>
        <p class="title">Mechnical_engineer</p>
        <p>Jiya Chaudhary Is a Master In Mechnic_engineer Service In Urban Clap.</p>
        <p>example@example.com</p>
        <p><button class="button">SEND REQUEST</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="{% static 'img/6 tech.jpg' %}" alt="Mike" style="width:100%" height="230px">
      <div class="container">
        <h2>Bhavesh Patel</h2>
        <p class="title">Plumbing_Work</p>
        <p>Bhavesh Patel Is a Master In Plumbing_Work Service In Urban Clap.</p>
        <p>example@example.com</p>
        <p><button class="button">SEND REQUEST</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="{% static 'img/7 tech.jpg' %}" alt="Mike" style="width:100%" height="230">
      <div class="container">
        <h2>Bipin Patel</h2>
        <p class="title">Car_Technician</p>
        <p>Bipin Patel Is a Master In Car_Technician Service In Urban Clap.</p>
        <p>example@example.com</p>
        <p><button class="button">SEND REQUEST</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="{% static 'img/8 tech.jpg' %}" alt="John" style="width:100%" height="230px">
      <div class="container">
        <h2>Viral Panchal</h2>
        <p class="title">Motor_Workers</p>
        <p>Viral Panchal Is a Master In Motor_Workers Service In Urban Clap.</p>
        <p>example@example.com</p>
        <p><button class="button">SEND REQUEST</button></p>
      </div>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <img src="{% static 'img/9 tech.jpg' %}" alt="Mike" style="width:100%" height="230px">
    <div class="container">
      <h2>Nishant Nayak</h2>
      <p class="title">Eye_Treatment</p>
      <p>Nishant Nayak Is a Master In Eye_Treatment Service In Urban Clap.</p>
      <p>example@example.com</p>
      <p><button class="button">SEND REQUEST</button></p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <img src="{% static 'img/10tech.jpg' %}" alt="Mike" style="width:100%" height="230px">
    <div class="container">
      <h2>Nayan Rathod</h2>
      <p class="title">Cleaner</p>
      <p>Nayak Rathod Is a Master In Cleaner Service In Urban Clap.</p>
      <p>example@example.com</p>
      <p><button class="button">SEND REQUEST</button></p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <img src="{% static 'img/11tech.jpg' %}" alt="Mike" style="width:100%" height="230px">
    <div class="container">
      <h2>Priyank Patel</h2>
      <p class="title">Pet_Celeaning</p>
      <p>Priyank Patel Is a Master In Pet_Celeaning Service In Urban Clap</p>
      <p>example@example.com</p>
      <p><button class="button">SEND REQUEST</button></p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <img src="{% static 'img/12 tech.jpg' %}" alt="John" style="width:100%" height="230px">
    <div class="container">
      <h2>Vinod Patel</h2>
      <p class="title">Neno_Science</p>
      <p>Vinod Patel Is a Master In Neno_Science Service In Urban Clap</p>
      <p>example@example.com</p>
      <p><button class="button">SEND REQUEST</button></p>
    </div>
  </div>
</div>
</div>
<div class="column">
  <div class="card">
    <img src="{% static 'img/13 tech.jpg' %}" alt="Mike" style="width:100%" height="230px">
    <div class="container">
      <h2>Sunil Joshi</h2>
      <p class="title">IT_Technician</p>
      <p>Sunil Joshi Is a Master In IT_Technician Service In Urban Clap</p>
      <p>example@example.com</p>
      <p><button class="button">SEND REQUEST</button></p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <img src="{% static 'img/14 tech.jpg' %}" alt="Mike" style="width:100%" height="230px">
    <div class="container">
      <h2>Diya Panchal</h2>
      <p class="title">computer_Technician</p>
      <p>Diya Panchal Is a Master In computer_Technician Service In Urban Clap</p>
      <p>example@example.com</p>
      <p><button class="button">SEND REQUEST</button></p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <img src="{% static 'img/15 tech.jpg' %}" alt="Mike" style="width:100%" height="230px">
    <div class="container">
      <h2>Mika Barber</h2>
      <p class="title">Hair_Cutting</p>
      <p>Mika Barber Is a Master In Hair_Cutting Service In Urban Clap</p>
      <p>example@example.com</p>
      <p><button class="button">SEND REQUEST</button></p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <img src="{% static 'img/16 tech.jpg' %}" alt="John" style="width:100%" height="230px">
    <div class="container">
      <h2>Darshan Patel</h2>
      <p class="title">AC&Fridge_services</p>
      <p>Darshanb Patel Is a Master In AC&Fridge_services Service In Urban Clap</p>
      <p>example@example.com</p>
      <p><button class="button">SEND REQUEST</button></p>
    </div>
  </div>
</div>
</div> 
</body>
</html>